---
import Share from "@/components/Share.astro";
import Social from "@/components/Social.astro";
import SimilarPosts from "@/components/SimilarPosts.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import social from "@/config/social.json";
import dateFormat from "@/lib/utils/dateFormat";
import similerItems from "@/lib/utils/similarItems";
import { humanize, markdownify, slugify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import { render } from "astro:content";
import { BiCalendarEdit, BiCategoryAlt } from "react-icons/bi";

const posts = await getSinglePage("posts");
const { post } = Astro.props;
const similarPosts = similerItems(post, posts, post.slug);
const { Content } = await render(post);
const { title, description, categories, image, date, tags } =
  post.data;
---

<section class="section">
  <div class="container">
    <article class="row justify-center">
      <div class="md:col-10 text-center">
        <h1 set:html={markdownify(title)} class="h2" />
      </div>

      <div class="col-12 mt-8 mb-2">
        {
          image && (
            <Image
              src={image}
              height={500}
              width={1000}
              alt={title}
              class="rounded-lg"
            />
          )
        }
      </div>

      <div class="md:col-10">
        <div class="content mb-16 text-left">
          <Content />
        </div>
        <div class="flex flex-wrap items-center justify-end">
          <Share
            className="social-share mb-4"
            title={title}
            description={description}
            slug={post.id}
          />
        </div>
        
        <!-- ソーシャルメディアリンク -->
        <div class="text-center mt-8 mb-8">
          <p class="text-lg font-semibold mb-4">フォローしてね！</p>
          <Social source={social} className="social-icons-simple justify-center" />
        </div>
      </div>
    </article>
  </div>
</section>

<!-- similar posts -->
{
  similarPosts.length > 0 && (
    <section class="section pt-0">
      <div class="container">
        <h2 class="mb-8 text-center h3">Similar Posts</h2>
        <SimilarPosts posts={similarPosts.slice(0, 3)} />
      </div>
    </section>
  )
}
